* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

.html {
  font-size: 62.5%;
  box-sizing: border-box;
  transition: all 1s ease-in-out; }
  @media only screen and (max-width: 500px) {
    .html {
      font-size: 50%; } }

body {
  font-family: 'Spartan', sans-serif;
  background-color: var(--main-bg);
  transition: all 1s ease-in-out; }

button {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer; }

.main-container {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center; }

.calculator {
  margin-top: 2rem;
  width: 40rem;
  display: grid;
  grid-row-gap: 2rem; }
  @media only screen and (max-width: 800px) {
    .calculator {
      width: 80vw; } }

/** 
.main {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  flex: 1 1 100vw;
  // margin: 3rem auto;
  
  @media only screen and (max-width: 800px) {
    padding: 1rem 0;
  }
}
.container {
}
**/
.footer {
  display: flex;
  justify-content: center;
  align-items: center; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-header); }
  .header__theme-box {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__theme-title {
    text-transform: uppercase;
    margin-right: 2rem;
    font-size: 0.8rem;
    letter-spacing: 1px; }
  @media only screen and (max-width: 500px) {
    .header__title {
      font-size: 1.8rem; }
    .header__theme-title {
      text-transform: uppercase;
      margin-right: 2rem;
      font-size: 0.6rem;
      letter-spacing: 1px; }
    .header__theme-box {
      margin-left: -10px; } }

.output__container {
  background-color: var(--screen-bg);
  border-radius: var(--container-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
  word-break: break-all; }

.output__previous-term {
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-left: 2.5rem;
  min-height: 3rem;
  line-height: 1;
  align-self: center;
  color: var(--text-output-previous); }
  .output__previous-term-box {
    display: flex;
    justify-content: start;
    align-items: center; }

.output__value {
  text-align: right;
  font-size: 3.4rem;
  color: var(--text-output);
  word-wrap: break-word;
  word-break: break-all;
  padding-right: 2.5rem; }
  .output__value-box {
    min-height: 8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center; }

@media only screen and (max-width: 800px) {
  .output__previous-term {
    font-size: 1rem;
    padding-top: 1rem;
    padding-left: 2.5rem;
    min-height: 1.6rem;
    line-height: 1;
    align-self: center;
    color: var(--text-output-previous); }
    .output__previous-term-box {
      display: flex;
      justify-content: start;
      align-items: center; }
  .output__value {
    text-align: right;
    font-size: 24px;
    color: var(--text-output);
    word-wrap: break-word;
    word-break: break-all;
    padding-right: 2.5rem; }
    .output__value-box {
      min-height: 3rem;
      display: flex;
      justify-content: flex-end;
      align-items: center; } }

.button__container {
  background-color: var(--toggle-key-bg);
  border-radius: var(--container-radius);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  padding: 2rem; }
  @media only screen and (max-width: 800px) {
    .button__container {
      grid-gap: 0.8rem;
      padding: 1.2rem; } }

#key-reset {
  grid-column: 1 / span 2; }

#key-equals {
  grid-column: 3 / span 2; }

:root,
html[data-theme='default'] {
  --main-bg: hsl(222, 26%, 31%);
  --toggle-key-bg: hsl(223, 31%, 20%);
  --screen-bg: hsl(224, 36%, 15%);
  --key-bg-secondary: hsl(225, 21%, 49%);
  --key-shadow-secondary: hsl(224, 28%, 35%);
  --key-bg-accent: hsl(6, 63%, 50%);
  --key-shadow-accent: hsl(6, 70%, 34%);
  --key-bg-main: hsl(30, 25%, 89%);
  --key-shadow-main: hsl(28, 16%, 65%);
  --text-header: #fff;
  --text-output: rgba(255, 255, 255, 0.9);
  --text-output-previous: rgba(255, 255, 255, 0.7);
  --text-key-main: hsl(221, 14%, 31%);
  --text-key-secondary: rgba(255, 255, 255, 0.8);
  --text-key-accent: rgba(255, 255, 255, 0.8);
  --container-radius: 15px; }

html[data-theme='light'] {
  --main-bg: hsl(0, 0%, 90%);
  --toggle-key-bg: hsl(0, 5%, 81%);
  --screen-bg: hsl(0, 0%, 93%);
  --key-bg-secondary: hsl(185, 42%, 37%);
  --key-shadow-secondary: hsl(185, 58%, 25%);
  --key-bg-accent: hsl(25, 98%, 40%);
  --key-shadow-accent: hsl(25, 99%, 27%);
  --key-bg-main: hsl(30, 25%, 89%);
  --key-shadow-main: hsl(28, 16%, 65%);
  --text-header: hsl(60, 10%, 19%);
  --text-output: hsl(60, 10%, 19%);
  --text-output-previous: hsla(60, 9%, 19%, 0.712);
  --text-key-main: hsl(60, 10%, 19%);
  --text-key-secondary: rgba(255, 255, 255, 0.8);
  --text-key-accent: rgba(255, 255, 255, 0.8); }

html[data-theme='dark'] {
  --main-bg: hsl(268, 75%, 9%);
  --toggle-key-bg: hsl(268, 71%, 12%);
  --screen-bg: hsl(268, 71%, 12%);
  --key-bg-main: hsl(268, 47%, 21%);
  --key-shadow-main: hsl(290, 70%, 36%);
  --key-bg-accent: hsl(176, 100%, 44%);
  --key-shadow-accent: hsl(177, 92%, 70%);
  --key-bg-secondary: hsl(281, 89%, 26%);
  --key-shadow-secondary: hsl(285, 91%, 52%);
  --text-header: hsl(52, 100%, 62%);
  --text-output: hsl(52, 100%, 62%);
  --text-output-previous: hsl(52, 100%, 62%);
  --text-key-main: hsl(52, 100%, 62%);
  --text-key-secondary: rgba(255, 255, 255, 0.8);
  --text-key-accent: hsl(198, 20%, 13%); }

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 2rem;
  color: var(--text-header); }
  .attribution p {
    padding: 3px; }

.attribution a {
  color: var(--key-bg-accent);
  text-decoration: none; }

.key {
  font-size: 32px;
  padding: 1rem 2rem;
  font-family: inherit;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: all 0.2s;
  cursor: pointer; }
  @media only screen and (max-width: 500px) {
    .key {
      padding: 1rem 1rem 0.4rem 1rem;
      font-size: 24px; } }
  .key:focus {
    outline: none; }
  .key:active {
    transform: translateY(2px);
    border-bottom: none; }
  .key-main {
    color: var(--text-key-main);
    background-color: var(--key-bg-main);
    border-bottom: 4px solid var(--key-shadow-main); }
  .key-secondary {
    background-color: var(--key-bg-secondary);
    border-bottom: 5px solid var(--key-shadow-secondary);
    color: var(--text-key-secondary);
    text-transform: uppercase; }
    @media only screen and (max-width: 600px) {
      .key-secondary {
        font-size: 0.8rem; } }
  .key-equals {
    background-color: var(--key-bg-accent);
    border-bottom: 5px solid var(--key-shadow-accent);
    color: var(--text-key-accent); }

@media only screen and (max-width: 500px) {
  #key-del {
    font-size: 0.8rem;
    padding: 1rem 0.5rem 0.4rem 0.5rem; } }

.theme__btn-container {
  display: grid;
  padding-bottom: 30px; }

.theme__label-box {
  display: flex;
  justify-content: space-between;
  margin: 0 8px 3px 11px; }

.theme__label-btn {
  color: var(--text-header);
  font-size: 0.8rem; }
  .theme__label-btn-2 {
    margin-left: 2px; }

.theme__slider-box {
  width: 5rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--toggle-key-bg);
  padding: 5px;
  border-radius: 100px; }

.theme__slider-position {
  background-color: var(--key-bg-accent);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  color: transparent;
  opacity: 0;
  transition: all 0.5s; }

.theme__slider-position.active {
  opacity: 1; }
