.main-container {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.calculator {
  margin-top: 2rem;
  width: 40rem;
  display: grid;
  grid-row-gap: 1.6rem;

  @media only screen and (max-width: 800px) {
    width: 80vw;
    grid-row-gap: 1rem;
  }
}
/** 
.main {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  flex: 1 1 100vw;
  // margin: 3rem auto;
  
  @media only screen and (max-width: 800px) {
    padding: 1rem 0;
  }
}
.container {
}
**/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

// HEADER calc title and theme slider
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin-bottom: 1.9rem;
  // color: var(--)
  color: var(--text-header);

  &__theme-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__theme-title {
    text-transform: uppercase;
    margin-right: 2rem;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

  @media only screen and (max-width: 500px) {
    &__title {
      font-size: 1.8rem;
    }
    &__theme-title {
      text-transform: uppercase;
      margin-right: 2rem;
      font-size: 0.6rem;
      letter-spacing: 1px;
    }
    &__theme-box {
      margin-left: -10px;
    }
  }
}

// OUTPUT
.output {
  &__container {
    background-color: var(--screen-bg); // TODO: THEME
    border-radius: var(--container-radius);
    // height: minmax(13rem, auto);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;
    word-wrap: break-word;
    word-break: break-all;
  }

  &__previous-term {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-left: 2.5rem;
    min-height: 3rem;
    line-height: 1;
    align-self: center;

    color: var(--text-output-previous);

    &-box {
      // border: 1px solid goldenrod;
      display: flex;
      justify-content: start;
      align-items: center;
      // display: none;
    }
  }

  &__value {
    text-align: right;
    font-size: 3.4rem;
    color: var(--text-output); // TODO: THEME
    word-wrap: break-word;
    word-break: break-all;
    padding-right: 2.5rem;
    &-box {
      min-height: 8rem;
      // border: 1px solid goldenrod;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      // padding: 2.5rem;
    }
  }

  @media only screen and (max-width: 800px) {
    &__previous-term {
      font-size: 1rem;
      padding-top: 1rem;
      padding-left: 2.5rem;
      min-height: 1.6rem;
      line-height: 1;
      align-self: center;

      color: var(--text-output-previous);

      &-box {
        // border: 1px solid goldenrod;
        display: flex;
        justify-content: start;
        align-items: center;
        // display: none;
      }
    }
    &__value {
      text-align: right;
      font-size: 24px;
      color: var(--text-output); // TODO: THEME
      word-wrap: break-word;
      word-break: break-all;
      padding-right: 2.5rem;
      &-box {
        min-height: 3rem;
        // border: 1px solid goldenrod;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        // padding: 2.5rem;
      }
    }
  }
}

// button container
.button__container {
  background-color: var(--toggle-key-bg);
  border-radius: var(--container-radius);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.2rem;
  padding: 1.6rem;
  @media only screen and (max-width: 800px) {
    grid-gap: 0.8rem;
    padding: 1.2rem;
  }
}

#key-reset {
  grid-column: 1 / span 2;
}

#key-equals {
  grid-column: 3 / span 2;
}
