:root,
html[data-theme='default'] {
  // THEME 1
  --main-bg: hsl(222, 26%, 31%);
  --toggle-key-bg: hsl(223, 31%, 20%);
  --screen-bg: hsl(224, 36%, 15%);
  //KEYS -1
  --key-bg-secondary: hsl(225, 21%, 49%);
  --key-shadow-secondary: hsl(224, 28%, 35%);

  --key-bg-accent: hsl(6, 63%, 50%);
  --key-shadow-accent: hsl(6, 70%, 34%);

  --key-bg-main: hsl(30, 25%, 89%);
  --key-shadow-main: hsl(28, 16%, 65%);

  //TEXT
  --text-header: #fff;
  --text-output: rgba(255, 255, 255, 0.9);
  --text-output-previous: rgba(255, 255, 255, 0.7);
  --text-key-main: hsl(221, 14%, 31%);
  --text-key-secondary: rgba(255, 255, 255, 0.8);
  --text-key-accent: rgba(255, 255, 255, 0.8);

  // border-radius
  --container-radius: 15px;
}

//THEME 2
html[data-theme='light'] {
  --main-bg: hsl(0, 0%, 90%);

  --toggle-key-bg: hsl(0, 5%, 81%);
  --screen-bg: hsl(0, 0%, 93%);
  //KEYS
  --key-bg-secondary: hsl(185, 42%, 37%);
  --key-shadow-secondary: hsl(185, 58%, 25%);

  --key-bg-accent: hsl(25, 98%, 40%);
  --key-shadow-accent: hsl(25, 99%, 27%);

  --key-bg-main: hsl(30, 25%, 89%);
  --key-shadow-main: hsl(28, 16%, 65%);

  //TEXT
  --text-header: hsl(60, 10%, 19%);
  --text-output: hsl(60, 10%, 19%);
  --text-output-previous: hsla(60, 9%, 19%, 0.712);
  --text-key-main: hsl(60, 10%, 19%);
  --text-key-secondary: rgba(255, 255, 255, 0.8);
  --text-key-accent: rgba(255, 255, 255, 0.8);
}

//THEME 3 ---
html[data-theme='dark'] {
  --main-bg: hsl(268, 75%, 9%);
  --toggle-key-bg: hsl(268, 71%, 12%);
  --screen-bg: hsl(268, 71%, 12%);

  //KEYS
  --key-bg-main: hsl(268, 47%, 21%);
  --key-shadow-main: hsl(290, 70%, 36%);

  --key-bg-accent: hsl(176, 100%, 44%);
  --key-shadow-accent: hsl(177, 92%, 70%);

  --key-bg-secondary: hsl(281, 89%, 26%);
  --key-shadow-secondary: hsl(285, 91%, 52%);

  //TEXT
  --text-header: hsl(52, 100%, 62%);
  --text-output: hsl(52, 100%, 62%);
  --text-output-previous: hsl(52, 100%, 62%);
  --text-key-main: hsl(52, 100%, 62%);
  --text-key-secondary: rgba(255, 255, 255, 0.8);
  --text-key-accent: hsl(198, 20%, 13%);
}
