// keys are buttons with key class
.key {
  // styles for all keys

  font-size: 32px;
  padding: 1rem 2rem;
  font-family: inherit;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: all 0.2s;
  cursor: pointer;

  @media only screen and (max-width: 500px) {
    padding: 1rem 1rem 0.4rem 1rem;
    font-size: 24px;
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: translateY(2px);
    border-bottom: none;
  }

  &-main {
    color: var(--text-key-main);
    background-color: var(--key-bg-main);
    border-bottom: 4px solid var(--key-shadow-main);
  }

  &-secondary {
    background-color: var(--key-bg-secondary);
    border-bottom: 5px solid var(--key-shadow-secondary);

    color: var(--text-key-secondary);
    text-transform: uppercase;
    @media only screen and (max-width: 600px) {
      font-size: 0.8rem;
    }
  }

  &-equals {
    background-color: var(--key-bg-accent);
    border-bottom: 5px solid var(--key-shadow-accent);

    color: var(--text-key-accent);
  }
}

#key-del {
  @media only screen and (max-width: 500px) {
    font-size: 0.8rem;
    padding: 1rem 0.5rem 0.4rem 0.5rem;
  }
}
