// keys are buttons with key class
.key {
  // styles for all keys

  font-size: 32px;
  padding: 1rem 2rem;
  font-family: inherit;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: all 0.2s;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:active {
    transform: translateY(2px);
    border-bottom: none;
  }

  &-main {
    color: var(--text-key-main);
    background-color: var(--key-bg-main);
    border-bottom: 4px solid var(--key-shadow-main);
  }

  &-secondary {
    background-color: var(--key-bg-secondary);
    border-bottom: 5px solid var(--key-shadow-secondary);

    color: var(--text-key-secondary);
    text-transform: uppercase;
  }

  &-equals {
    background-color: var(--key-bg-accent);
    border-bottom: 5px solid var(--key-shadow-accent);

    color: var(--text-key-accent);
  }
}
